<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <!--<connectionStrings>
        <add name="db" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  <connectionStrings>
    <add name="appharbor"
      connectionString="Data Source=32f95191-f0b7-4f58-b323-a275000b989d.sqlserver.sequelizer.com;Initial Catalog=db32f95191f0b74f58b323a275000b989d;User ID=okjunwouayacrcfj;Password=3qn5G76cA28AffupZPzx2qvPMnt4TYPwvX2hCYLJAsvL3hR4LSoaNWCK3FquLbrK"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="On" defaultRedirect="Error.aspx" />
    
      <authentication mode="Forms">
        <forms loginUrl="LogIn.aspx" name="xAuth" timeout="30"></forms>
      </authentication>
      
      <authorization>
        <deny users="?"/>
      </authorization>
  
    </system.web>
  
  
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
</appSettings>
</configuration>
